---
layout: archive
title: "Code Products"
permalink: /portfolio/
author_profile: true
sidebar: true
---
 <div class="wordwrap"> Here is a collection of some of the code products I've written to go along with my research.
  Much of it was done during my time in the <a href = https://feffermanlab.org>Fefferman lab</a> so these repositories 
  can be found in the Fefferman lab's <a href = https://github.com/feffermanlab>GitHub</a>. You can also check out my (mostly empty)
  personal GitHub <a href = https://github.com/jmcalis>here</a>.
  </div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

