---
layout: archive
title: "Teaching and Mentorship"
permalink: /teaching/
author_profile: true
---
<div class="wordwrap">I have gotten the opportunity to teach and mentor throughout my time in graduate school. 
  For a better understanding of how I think of teaching, you can find my teaching statement
    <a href = http://jmcalis.github.io/files/McAlisterResearchStatement.pdf>here</a>.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
